/* base */
header{
  display: flex;
}

header h2{
  color: brown;
  padding: 20px;
  font-weight: bold;
  font-size: 40px;
}

header nav ul{
  display: flex;
  margin-top:35px;
  margin-left: 20px;

}

header nav ul li{
  margin: 0 20px;
  list-style: none;
}

header nav ul li a{
  text-decoration: none;
  background-color:#429d9f;
  color: aliceblue;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
}

header nav ul li a:hover{
  text-decoration:solid 2px underline;
  text-decoration-color:red;
}





/* index  */
.innerWrap{
  width: 1200px;
  margin: 0 auto;
}

.card{
  display: block;
  display: flex;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0.7px black solid;
}

.indexCard:hover{
background-color: #eedede;
}

.button{
  color: azure;
  background-color: brown;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  padding:5px 10px;
  margin-left: 10px;
}

form input{
  border: 1px solid;
}

.ageInput{
  width: 60px;
  height: 25px;
}

.ageSearch{
  padding-top: 10px;
  padding-bottom: 20px;
}

.table th{
  background-color:#f2f2f2;
  padding: 5px;
}

.table td{
  vertical-align: middle;
}

/* show  */
.showCard{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.formButton{
  color: azure;
  background-color: brown;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  padding:5px 10px;
  margin-left: 10px;
  height: 30px;
  text-decoration: none;
}

.formButton[type="submit"]{
  background-color:rgb(173, 159, 212);
  height: 40px;
}

.delete{
  color: azure;
  background-color: brown;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  padding:5px 10px;
  margin: 20px;
  height: 33px;
}

/*form*/
.toiForm{
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background-color:beige;

}

input[type="text"],
textarea {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  width: 100%;
  margin:5px 0;
  padding: 4px 8px;
}

.toiBotton{
  color: #ffffff;
  background-color:blueviolet;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  padding:5px 10px;
  margin-left: 10px;
}
